body, html {
  height: 100%;
  overflow-y: hidden;
}

.jumbotron {
  color: #fefefe;
}

.navbar-nav li a {
  font-size: 16px;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  text-align: center;
  display: flex;
  align-items: center;
  background-image: url("../img/plane.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}